<!-- views/add_post.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>


    <main>
        <section class="add-post">
            <form method="POST" action="/add_post" enctype="multipart/form-data">
                <div class="add-post-container">
                    <h2 class="add-post-title">Add New Post</h2>
                    <input type="text" name="content_title" placeholder="Enter post title" required>
                    <textarea class="add-post-content" name="content_text" placeholder="Enter your post content here..." required></textarea>
                    <!-- File input field for video upload -->
                    <div class="upload-file">
                        <label for="video">Upload Video:</label>
                        <input type="file" id="video" name="video">
                    </div>
                    <!-- File input field for image upload -->
                    <div class="upload-file">
                        <label for="image">Upload Image:</label>
                        <input type="file" id="image" name="image">
                    </div>
                    <button class="btn" type="submit">Add Post</button>
                </div>
            </form>
            
                            
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
